<li>
    <p class="title toggle">
        <% if branch.is_tree? %>
            <b class="symbol"><%= branch.symbol %></b><%= branch.title %>
        <% else %>
            <%= branch.title %>
        <% end %>
    </p>
    <%= erb :_leaves, locals: { leaves: branch.leaves } %>
    <%= erb :_branches, locals: { branches: branch.branches } %>
</li>